.header,
.image,
.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

#chef {
    height: auto;
    width: 470px;
    border-radius: 40px;
}

.header {
    color: white;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: dodgerblue;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    height: 48px;
    column-gap: 3px;
}

.image {
    justify-content: center;
    margin-bottom: 42px;
}

#logo {
    height: 35px;
    width: 35px;
}

* {
    margin: 0px;
    padding: 0px;
}

.list {
    background-color: crimson;
}

.cards {
    column-gap: 99px;
    justify-content: center;
}

.tasty {
    background-color: yellow;
    width: 110px;
    border-radius: 5px;
}

.spicy {
    background-color: orangered;
    width: 110px;
    border-radius: 5px;
}

.sweet {
    background-color: hotpink;
    width: 110px;
    border-radius: 5px;
    align-items: center;
}

.tasty_img {
    width: 110px;
    border-radius: 5px;
}

.spicy_img {
    width: 110px;
    border-radius: 5px;
}

.sweet_img {
    width: 110px;
    border-radius: 5px;
}